@import "variables.scss";

#resiliency-service {
    position: relative;
    padding-top: 60px;
    #content {
        padding: 20px;

        .service-heading {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .content-heading {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .service-card {
            .card {
                .card-body {
                    .card-title {
                        color: black;
                    }
                    
                    .card-subtitle {
                        color: #74747d;
                    }
    
                    .card-img {
                        padding: 8px;
                        float: right;
                        width: 24%;
                        margin-top: -44px;
                    }
                }
    
                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
                }
            }
        }
    
        code {
            display: inline-block;
            margin: 0 0px;
          }
    
        pre>code {
            line-height: 2em;
            color: #333;
        }
    
        pre {
            background: #eee;
        }

         a {
            color: #009688;
            text-decoration: none;
          }
        
        #spy {
            position: fixed;
            padding: 12px;
            border-left: 1px solid #dfdede;
        }
        .icon {
            margin-top: 12px;
            margin-left: 28px;
        }
        .nav-link {
            color: black;
            margin-top: -28px;
            margin-left: 32px;
        }
        .nav-item .active {
            color: #009688;
        }
        .scrollspy-heading {
            color: #6c757d;
        }

        figure.concept_image {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
            .prerequisites {
                width: 100%;
            }
          }
    }

}

@media print {

    #resiliency-service {
        #content {
            margin-left: 100px;
            padding-right: 200px;        
        }
    
        #spy {
            display: none;
        }
        .service-card {
            .card {
                .card-link {
                    text-decoration: none;
                    .card-body {
                        height: 4vh !important;
                        .card-title {
                            color: black;
                        }
                        
                        .card-subtitle {
                            color: #fff !important;
                        }
        
                        .card-img {
                            padding: 8px;
                            float: right;
                            width: 20%;
                            margin-top: -44px;
                        }
                    }
                }
            }
        }
    }

}
@media(max-width: 2560px) {
    #resiliency-service {
        #content {
            #spy {
                
                width: 20%;
            }
        } 
    } 
}

@media(max-width: 1768px) {
     #content {
        padding: 20px;
        width: 72%;
        margin-left: 284px;
    }
}

@media(max-width: 1440px) {

    #content {
        width: 70%;
        margin-left: 304px;
    }
    
    .content-heading {
        font-size: 20px;
    }

    p, li {
        font-size: 14px;
    }
    pre {
        font-size: 14px;
    }
}

@media(max-width: 1280px) {

    #content {
        width: 70%;
        margin-left: 272px;
    }
    pre {
        font-size: 12px;
    }
}
@media(max-width: 1024px) {
   
    #resiliency-service {
        .service-card {
            .card  {
                .card-body {
                    .card-subtitle {
                        font-size: 12px;
                    }
                    .card-img {
                        display: none;
                    }
                    .card-title {
                        font-size: 20px;
                    }
                } 
            }

        }
    }
    #content {
        
        padding: 20px;
        margin-left: 232px;
        width: 68%;

        .text-muted {
            font-size: 12px;
        }
        p, li {
            font-size: 14px;
        }
        .page-title {
            font-size: 28px;
        }
        .scrollspy-heading {
            font-size: 16px;
        }
        .nav-link {
            margin-left: 20px;
        }
        .icon {
            margin-left: 20px;
        }

        #spy {
            width: 28% !important;
        }
    }
}

@media(max-width: 991px) {

    #content {
        margin-left: 0px;
        width: 100%;
    }
    #content.active {
        position: fixed;
    }

    #spy {
        display: none;
    }
}



