@import "variables.scss";

#side-navbar{
    display: flex;
    position: relative;
    width: 100%;
    .sidebar-list {
        margin-top: 60px;
        width: 18%;
        transition: all 0.3s;
        height: 96vh;
        position: fixed;
        z-index: 99999;
        overflow: auto;      
        border-right: 1px solid #dfdede;
        padding-bottom: 40px;

        .sidebar-header {
            padding-left: 20px;
            padding-top: 20px;
         }
         
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            border-top: 1px solid #dfdede;
        }
    
        .heading {
            padding-left: 20px;
            color: #6c757d ;
        }
        
        .nav-link {
            font-size: 16px; 
            padding: 4px;
            color: black;
            margin-left: 56px;
            text-decoration: none;
            &:hover {
                color: #009688;
                cursor: pointer;
            }   
        }  
        
        .nav-item .active {
            color: #009688;
        }
     
        ul.submenu {
                margin-left: 20px;
                margin-bottom: 20px;
        }

    
       a[data-toggle="collapse"] {
            position: relative;
        } 
        /* Align Bootstrap default Dropdown icon closer to vertical center of collapsed icon. */
        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: rotate(0deg)
        }
    
        .caret::after {
            transform: rotate(180deg);
        }
    
        /* Make Dropdown icon point right when collapsed, with Browser default vertical alignment. */
        .collapsed.dropdown-toggle::after {
            transform: rotate(0deg)
        }
      
    }
}

@media print {
    
    #sidebar {
        display: none;
    }
}

@media(max-width: 1440px) {

    #side-navbar {
        .sidebar-list {
            width: 22%; 
        }
    }

}   

@media(max-width: 1024px) {

    #side-navbar .sidebar-list {
       
        width: 24%;
        .nav-link {
            font-size: 14px;
            padding: 4px;
            margin-left: 40px;
        }
    }
}

@media(min-width: 992px) {
    #sidebarCollapse {
        display: none;
    } 
}

@media(max-width: 991px) {

    #side-navbar {
        .sidebar-list {
            margin-left: -28%;
            
        }
        .sidebar-list.active {
            width: 36%;
            margin-left: 0%;
            background: #fff;

            .nav-link {
                margin-left: 32px;
            }
        }
    } 

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .overlay.active {
        display: block;
        opacity: 1;
    }
}

@media(max-width: 425px) {
    #side-navbar {
        .sidebar-list.active {
            width: 64%;

        }
    }
}

@media(max-width: 375px) {

    #side-navbar {
        .sidebar-list.active {
            width: 72%;
        }
    }
}

@media(max-width: 320px) {
    #side-navbar {
        .sidebar-list.active {
            width: 80%;
        }
    }
}