@import "bootstrap/bootstrap.scss";
@import "variables.scss";
@import "font-awesome.scss";

#wrapper {
    #top-navbar {
        .transparent-navbar {
            background-color: #009688 !important;
            .logo-padding {
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
        nav {
            padding: 4px;
            .side-navbar {
                display: flex;
                .icon {
                    color: #fff;
                    font-size: 24px;
                    padding-top: 4px;
                }
            }
            .logo-padding {
                padding: 6px 0px 0px 0px;

            }
            #navbarSupportedContent {
                width: calc(100% - 200px);
            }
            .menu-padding {
                padding: 4px;
            }
            .navbar-nav {
                margin-right: 0px !important;
                .nav-item {
                    .btn {
                        color: #fff;
                        padding-top: 12px;
                        &:hover {
                            color: #009688;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    #sub-header-section {
        background-color: #009688;
        height: 28vh;
        .sub-header-container{
            .info-heading {
                margin-top: 64px;
                text-align: center;
                color: #fff;
            }
            .app-title {
                color: #fff;
                font-size: 40px;
                text-align: center;
                margin-bottom: 36px;

            }
            .form-inline {
                justify-content: center;
                .form-control {
                    width: 60%;
                    height: 48px;
                }
                .search-button {
                    position: absolute;
                    color: white;
                    background-color: #009688;
                    right: 244px;
                }
            }
        }
    }
    #service-section {
        margin-top: 8px;
        .service-card-title {
            margin-top:20px;
            color: #009688;
            font-size: 24px;
            margin-bottom: 12px;
        }
        .service-card {
            .card {
                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
                }
                .card-link {
                    text-decoration: none;
                    .card-body {
                        .card-title {
                            color: black;
                        }
                        .card-img {
                            padding: 8px;
                            float: right;
                            width: 32%;
                            margin-top: -32px;
                            margin-right: -12px
                        }
                        .card-text {
                            color: grey;
                        }
                    }

                }
            }

        }

    }

    #quick-links-section {

        .quick-links-card-title {
            margin-top: 24px;
            color: #009688;
            font-size: 24px;
        }
        .quick-link-subtitle {
            color: #494b4b;
        }
        .quick-links-card {
            padding-bottom: 28px;
            .card {
                &-body {
                    .card-title {
                        color: black;
                    }
                    .card-item {
                        list-style: none;
                        margin-top: 24px;
                        line-height: 16px;
                        padding: 0px;
                        .card-link {
                            text-decoration: none;
                        }
                    }
                    .card-text {
                        display: block;
                        color: gray;
                        &:hover {
                            color:#009688;
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
    
}

@media(max-width: 1440px) {

    #sub-header-section {
        height: 212px !important;
        .info-heading {
            font-size: 14px;
        }
        .app-title {
            font-size: 28px !important;
            margin-bottom: 24px !important;
        }
        .form-control {
            width: 40% !important;
            height: 40px !important;
        }
        .search-button {
            right: 352px !important;
            font-size: 12px;
        }
    }

}

@media(max-width: 1199px) {

    #sub-header-section {
        .info-heading {
            font-size: 12px;
        }
        .app-title {
            font-size: 24px !important;
            margin-bottom: 20px !important;
        }
        .form-control {
            width: 42% !important;
            height: 32px !important;
        }
        .search-button {
            right: 288px !important;
            font-size: 8px;
        }
    }

    #service-section {
        .card-img {
            display: none;
        }
    }

}

@media(max-width: 991px) {

    #sub-header-section {
        .app-title {
            margin-bottom: 24px !important;
        }
        .form-control {
            width: 56% !important;
            height: 32px !important;
        }
        .search-button {
            right: 170px !important;
            font-size: 8px;
        }
    }

}

@media(max-width: 767px) {
    #sub-header-section {
        .app-title {
            margin-bottom: 20px !important;
        }
        .form-control {
            width: 76% !important;
            height: 32px !important;
        }
        .search-button {
            right: 80px !important;
            font-size: 8px;
        }
    }
}

@media(max-width: 425px) {
    #sub-header-section {
        .form-control {
            width: 80% !important;
            // height: 32px !important;
        }
        .search-button {
            right: 56px !important;
        }
    }

    .logo {
        width: 184px;
    }
    .menu-padding {
        padding: 4px;
        padding-top: 14px;
        margin-right: -12px;
    }

}

@media(max-width: 375px) {
    #sub-header-section .search-button {
        right: 52px !important;
    }
}

@media(max-width: 320px) {

    .icon {
        font-size: 20px !important;
    }
    #sub-header-section {
        .form-control {
            width: 96% !important;
            // height: 32px !important;
        }
        .search-button {
            right: 24px !important;
            font-size: 7px;
        }
    }
    .logo {
        width: 172px;
        margin-right: -20px;
        margin-left: -8px;
    }
}

@media print {
    
    #sub-header-section {
        background-color: #009688 !important;
        height: 28vh;

        .sub-header-container{
            .info-heading {
                margin-top: 56px;
                text-align: center;
                color: #fff !important;
            }
            .app-title {
                color: #fff !important;
                font-size: 40px;
                text-align: center;
                margin-bottom: 36px;

            }
            .form-inline {
                justify-content: center;
                .form-control {
                    width: 60%;
                    height: 48px;
                }
                .search-button {
                    position: absolute;
                    color: white;
                    background-color: #009688;
                    right: 244px !important;
                }
            }
        }
    }
}
