<!doctype html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
     <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Appranix" %></title>
    <link href="../images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <script id="hs-script-loader" async defer src="//js.hs-scripts.com/3979283.js"></script>
    <script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
    <%= javascript_include_tag "jquery-3.4.1.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= stylesheet_link_tag "resiliency-service" %>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <%= partial "header" %>
      <section id="main-content">
        <%= yield %>
      </section>
     </div>
  </body>
</html>
