<!doctype html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
     <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Appranix" %></title>
    <link href="../images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <script id="hs-script-loader" async defer src="//js.hs-scripts.com/3979283.js"></script>
    <script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
    <%= javascript_include_tag "jquery-3.4.1.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= stylesheet_link_tag "sidebar" %>
    <%= stylesheet_link_tag "service" %>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <%= partial "header" %>
      <%= partial "sidenav_bar" %>
      <div id="resiliency-service">
        <section id="content">
          <div class="container">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h6 class="text-muted">Resiliency Service</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12">
                <h1 class="page-title"><%= current_page.data.title %></h1>
                <%= yield %>
                <% if current_page.data.title === "Overview" %>
                  <div class="service-card">
                    <h3 id="quickstart" class="service-heading">Quick Links to Get Started</h3>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                        <div class="card h-100">
                          <a href="/resiliency-service/prerequisite-for-gcp/" class="card-link">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 mt-1">Resiliency Service</h6>
                              <img class="card-img" src="/images/placeholder.png" alt="LOGO"/>
                              <h4 class="card-title">Prerequisites</h4>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                        <div class="card h-100">
                          <a href="/resiliency-service/access-management-control/" class="card-link">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 mt-1">Resiliency Service</h6>
                              <img class="card-img" src="/images/placeholder.png" alt="LOGO"/>
                              <h4 class="card-title">How to Guides</h4>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                        <div class="card h-100">
                          <a href="/resiliency-service/videos-and-samples/" class="card-link">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 mt-1">Resiliency Service</h6>
                              <img class="card-img" src="/images/placeholder.png" alt="LOGO"/>
                              <h4 class="card-title">Resources</h4>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>  
                  </div>
                <% end %>
              </div>
              <% if current_page.data.title != "Overview" %>
                <div class="col-xl-2 col-lg-3">
                  <nav id="spy">
                  
                  </nav>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
<% get_sidebar_json%>