<header>
  <div id="top-navbar">
    <nav class="navbar navbar-light fixed-top transparent-navbar">
      <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-10">
        <div class="container-fluid">
          <div class="row">
            <% if current_page.path != "index.html" %>
              <div class="side-navbar">
                <button type="button" id="sidebarCollapse" class="btn">
                  <i class="fa fa-bars icon"></i>      
                </button>
              </div>
            <% end %>
            <a href="/" class="logo-padding"><img class="logo" src="/images/appranix-logo.png" alt="LOGO"/>
            </a>
            <div class="navbar-nav ml-auto">
              <div class="nav-item menu-padding">
                <a class="btn" href="https://app.appranix.net/" target="blank">Console</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>