
  <div id="side-navbar">

    <nav id="sidebar" class="sidebar-list">
      <h5 class="sidebar-header"><%= current_page.data.sidebar_heading %></h5>
      <ul class="nav flex-column list-unstyled" id="active-sidebar">
        <% blog.articles.each_with_index do |article, i| %>
          <% if article.data.list == 'overview' %>
            <li class="nav-item">
              <%= link_to article.title, article, :class => 'nav-link' %>  
            </li>
          <% end %>
        <% end%>
        <hr/>
        <h6 class="heading">Prerequisite</h6>
        <% blog.articles.each_with_index do |article, i| %>
          <% if article.data.list == 'prerequisite' %>
            <li class="nav-item">
              <%= link_to article.title, article, :class => 'nav-link' %>  
            </li>
          <% end %>
        <% end%>
        <hr/>
        <h6 class="heading">How-to-Guides</h6>
        <% blog.articles.each_with_index do |article, i| %>
          <% if article.data.list == 'how-to-guides' %>
            <li class="nav-item">
              <%= link_to article.title, article, :class => 'nav-link' %>  
            </li>
          <% end %>
        <% end%>
        <li class="nav-item">
          <a href="#grouping-submenu" id="grouping-dropdown" data-toggle="collapse" class="dropdown-toggle nav-link">Grouping</a>
          <ul class="collapse list-unstyled submenu" id="grouping-submenu">
            <% blog.articles.each_with_index do |article, i| %>
              <% if article.data.list == 'grouping' %>
                <li class="nav-item">
                  <%= link_to article.title, article, :class => 'nav-link' %>  
                </li>
              <% end %>
            <% end%>
          </ul>  
        </li>
        <hr/>
        <h6 class="heading">Resources</h6>
        <li class="nav-item">
          <a href="#release-notes-submenu"  id="release-dropdown" data-toggle="collapse" class="dropdown-toggle nav-link">Release Notes</a>
          <ul class="collapse list-unstyled submenu" id="release-notes-submenu">
            <% blog.articles.each_with_index do |article, i| %>
              <% if article.data.list == 'release-notes' %>
                <li class="nav-item">
                  <%= link_to article.title, article, :class => 'nav-link' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <% blog.articles.each_with_index do |article, i| %>
          <% if article.data.list == 'resources' %>
            <li class="nav-item">
              <%= link_to article.title, article, :class => 'nav-link' %>  
            </li>
          <% end %>
        <% end%>
      </ul>     
    </nav>
  </div>  
  <div class="overlay"></div>







